.alert {
  grid-area: alert;
}
.alert-banner {
    display:flex;
    justify-content: space-evenly;
    background-color:#90a6ee;
    color: whitesmoke
}

/* Bell button */
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropBtn {
    background-image: url(../../icons/icon-bell.svg);
    padding: 16px;
    border: none;
    cursor: pointer;
    background-color:#bda9ff;
  }
  .dot {
      display:inline;
  }
  .dot::after {
      content: "•";
    color: #ff8a00;
    font-size: 30px;
  }
.dropBtn:hover {
    animation: ring 10s;
}
  @keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }
  
    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
  }
  /*Bell content*/  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300px;
    right:-160px;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  .show {display: block;}

.listNotifications li {
    list-style-type: none;
}
.listNotifications li::before {
    content: "•";
    margin: 0 .5rem 0 0;
    color: #ff8a00;
    font-size: 25px
}
.listNotifications hr {
    margin-right: 40px;
}

.flex-list {
    display: flex;
    align-items: center;
}

.alert-banner-close {
    margin:auto;
    font-size:20px;
}