
.traffic {
  grid-area: traffic;
}
.daily {
  grid-area:daily;
}
.mobile {
  grid-area:mobile;
}
.traffic-header {
    display: grid;
    grid-template-columns: 20% auto;
}

.traffic-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.traffic-nav-link:hover {
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #628392;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
 .traffic-nav-link:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e1e1e1;
    border-radius: 100%;
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  } 
  .traffic-nav-link:hover, .traffic-nav-link:focus, .traffic-nav-link:active {
    color: white;
  }
  .traffic-nav-link:hover:before, .traffic-nav-link:focus:before, .traffic-nav-link:active:before {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
.widget-container-full, .widget-container-half { width: 95vw; }
@media (min-width: 768px) {
    .widget-container-full { width: 90vw; }
    .widget-container-half { width: 45vw; }
}