body {
    font-family: 'Raleway', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
    background-color:#8966ff8f;
    display: flex;
    grid-area: header;
    align-items: center;
}
.headerMember {
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-evenly;
}
.headerMember span {
    border: 1px solid #007bccb0;
    padding-top: 40px;
}
.headerMember img {
    border-radius: 100%;
}
.header h1 {
    font-size: 1.5rem;
    color:whitesmoke;
}
.header h3 {
    text-align: end;
    color:whitesmoke
}
.nav {
    background-color:lightgreen;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-area: nav;
}
.main-container {
    display:grid;
    background-color:lightgoldenrodyellow;
    grid-area: main;
}

.dashBoard {
    display: grid;
    grid-template-columns: 35% 65%;
}

.search-bar {
    align-self: center;
}

